<!doctype html>
<html ng-app>
    <head>
        <title>Iterate</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>

    <body>
        <div ng-init="customers=[{name:'Aaa', city:'Cincinatti', joined:'2001-01-01', orderTotal:'99'}, 
                                 {name:'Bbbb', city:'Dayton', joined:'2003-10-21', orderTotal:'53.99'}, 
                                 {name:'Cccc', city:'Atlanta', joined:'2008-03-20', orderTotal:'105'}, 
                                 {name:'Dddd', city:'Boston', joined:'2011-07-12', orderTotal:'78.09'}]">            
            
            <h2>Customers</h2>
            
            Filter by name: <input type="text" ng-model="customerFilter.name" /><br/><br/>
            
            <table>
                <tr>
                    <th ng-click="sortBy='name'; reverse=!reverse">Name</th>
                    <th ng-click="sortBy='city'; reverse=!reverse">City</th> 
                    <th ng-click="sortBy='orderTotal'; reverse=!reverse">Order Total</th>
                    <th ng-click="sortBy='joined'; reverse=!reverse">Joined</th>                     
                </tr>
                
                <tr ng-repeat="customer in customers | limitTo:3 | orderBy:sortBy:reverse | filter:customerFilter">
                    <td>{{ customer.name | uppercase }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.orderTotal | currency }}</td>
                    <td>{{ customer.joined | date:'dd MMM yyyy' }}</td>                    
                </tr>                
            </table>
            
        </div>
            
        <script src="angular.js" type="application/javascript"></script>
    </body>
</html>