<!doctype hthml>
<html ng-app>
    <head>
        <title>Customer Application</title>
        <link rel="stylesheet" href="style.css" type="text/css"/>
    </head>
    
    <body ng-init="data={name:'James', isVisible: true}">
        <div ng-cloak>
            <div ng-show="data.isVisible">
                Name: <input type="text" ng-model="data.name" />{{ data.name }}        
            </div>
        </div>

        <!--
        <div ng-hide="isHidden">
            Name: <input type="text" ng-model="name" />{{ name }}        
        </div>

        Hide: <input type="checkbox" ng-model="isHidden" /> <br/>
        
        <button ng-click="name='Michelle'">Change Name</button>
        -->
        <script type="application/javascript" src="angular.js"></script>
    </body>
</html>