<!doctype html>
<html ng-app="customersApp">
    <head>
        <title>Iterate</title>
        <link rel="stylesheet" type="text/css" href="styles/bootstrap.css" />
    </head>

    <body ng-controller="CustomersController">
        <h2>Customers</h2>

        Filter by name: <input type="text" ng-model="customerFilter.name" /><br/><br/>

        <table class="table table-striped">
            <tr>
                <th ng-click="doSort('name')">Name</th>
                <th ng-click="doSort('city')">City</th>
                <th ng-click="doSort('orderTotal')">Order Total</th>
                <th ng-click="doSort('joined')">Joined</th>
            </tr>

            <tr ng-repeat="customer in customers | limitTo:3 | orderBy:customerProperty:isReversed | filter:customerFilter">
                <td>{{ customer.name | uppercase }}</td>
                <td>{{ customer.city }}</td>
                <td>{{ customer.orderTotal | currency }}</td>
                <td>{{ customer.joined | date:'dd MMM yyyy' }}</td>
            </tr>
        </table>

        <br/>

        <span>Total customers: {{ customers.length }} </span>

        <script src="scripts/angular.js" type="application/javascript"></script>
        <script src="scripts/angular-route.js" type="application/javascript"></script>
        <script src="app/app.js"></script>
        <script src="app/controllers/CustomersController.js" type="application/javascript"></script>
    </body>
</html>
