<!doctype html>
<html ng-app>
    <head>
        <title>Iterate</title>
    </head>

    <body>
        <div ng-init="people=[{name:'Aaa', city:'Atlanta'}, {name:'Bbbb', city:'Boston'}, {name:'Cccc', city:'Cincinatti'}]">
            <ul>
                <li ng-repeat="person in people">{{ person.name }} - {{ person.city }}</li>
            </ul>
            
            <br/>
            
            <table>
                <tr>
                    <th>Name</th>
                    <th>City</th>                        
                </tr>
                
                <tr ng-repeat="person in people">
                    <td>{{ person.name }}</td>
                    <td>{{ person.city }}</td>                        
                </tr>                
            </table>
            
        </div>
            
        <script src="angular.js" type="application/javascript"></script>
    </body>
</html>